In [1]:
import pandas as pd

df = pd.read_csv("data/BankChurners.csv")

/tmp/ipykernel_72484/2515506145.py:3: DtypeWarning: Columns (1,3,5,6,7,8,24,25,27,29,30,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/BankChurners.csv")

In [2]:
df

,CustomerID,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Survey date,Twitter,Id Interaction,Interaction,Id Complain,date_received,product,sub_product,issue,sub_issue
0,708082083.0,Existing Customer,45.0,F,3.0,High School,Married,Less than $40K,Blue,36.0,...,23/10/2021,Ok I am LOVING THIS,1.0,Digital statement,511074.0,2013-08-30,Mortgage,Other mortgage,"Loan modification,collection,foreclosure",NaN
1,708083283.0,Attrited Customer,58.0,M,0.0,Unknown,Single,$40K - $60K,Blue,45.0,...,26/08/2021,I hate the mobile app it doesn’t work very well,2.0,Key lock,511080.0,2013-08-30,Mortgage,Other mortgage,"Loan servicing, payments, escrow account",NaN
2,708084558.0,Attrited Customer,46.0,M,3.0,Doctorate,Divorced,$80K - $120K,Blue,38.0,...,2021-05-10 00:00:00,Ok I am LOVING THIS,3.0,Delivery Cards,510473.0,2013-08-30,Credit reporting,NaN,Incorrect information on credit report,Account status
3,708085458.0,Existing Customer,34.0,F,2.0,Uneducated,Single,Less than $40K,Blue,24.0,...,2021-05-10 00:00:00,Appreciated you attention in the contact center,4.0,Theft and loss,510326.0,2013-08-30,Student loan,Non-federal student loan,Repaying your loan,Repaying your loan
4,708086958.0,Existing Customer,49.0,F,2.0,Uneducated,Married,Unknown,Blue,41.0,...,2021-05-10 00:00:00,Appreciate the conversations and actions brou...,5.0,products and services acquisition,511067.0,2013-08-30,Debt collection,Credit card,False statements or representation,Attempted to collect wrong amount
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
555953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,919529.0,2014-07-01,Mortgage,Other mortgage,"Loan servicing, payments, escrow account",NaN
555954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,918447.0,2012-07-10,Mortgage,Conventional fixed mortgage,"Loan modification,collection,foreclosure",NaN
555955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,114550.0,2015-04-14,Debt collection,I do not know,Communication tactics,Frequent or repeated calls
555956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1329963.0,2014-08-14,Debt collection,I do not know,Cont'd attempts collect debt not owed,Debt is not mine
555957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,984116.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df2 = pd.read_csv("data/Transacciones_vs_ID_cuestomer.csv")
df2

,CustomerID,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
0,708082083,TX001313,AC00001,47.79,2023-09-15 17:00:20,Debit,Denver,D000649,59.12.96.11,M034,Branch,37,1,1649.92,2024-11-04 08:11:55
1,708082083,TX002017,AC00001,212.97,2023-11-14 16:56:34,Debit,Atlanta,D000492,45.241.13.208,M003,Online,178,1,4180.40,2024-11-04 08:10:42
2,708083283,TX000021,AC00002,59.32,2023-02-28 16:36:58,Debit,Los Angeles,D000152,116.44.12.250,M040,Branch,38,1,5750.89,2024-11-04 08:09:24
3,708083283,TX000062,AC00002,263.99,2023-05-16 16:07:30,Debit,Dallas,D000285,7.146.35.122,M087,Branch,227,2,4175.02,2024-11-04 08:11:03
4,708083283,TX001029,AC00002,516.47,2023-12-21 17:00:50,Credit,Charlotte,D000420,59.132.247.252,M026,ATM,94,1,1305.06,2024-11-04 08:09:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,828288333,TX012001,AC10126,256.95,2023-05-04 16:37:21,Debit,San Diego,D000672,49.172.82.247,M047,Branch,71,1,2531.24,2024-11-04 08:08:10
12138,828291858,TX012002,AC10127,406.12,2023-08-03 17:32:39,Debit,Houston,D000109,181.223.246.123,M004,ATM,106,1,10501.53,2024-11-04 08:11:29
12139,828294933,TX012003,AC10128,156.26,2023-01-02 17:49:44,Credit,Virginia Beach,D000134,51.196.87.214,M059,Branch,160,1,7854.10,2024-11-04 08:09:29
12140,828298908,TX012004,AC10129,317.12,2023-12-11 16:03:50,Debit,Fort Worth,D000007,57.232.212.116,M018,Branch,80,1,14409.74,2024-11-04 08:08:08
12141,824168808,TX012005,AC10130,88.38,2023-01-17 16:10:33,Debit,Virginia Beach,D000100,19.20.13.234,M026,ATM,138,1,3707.82,2024-11-04 08:08:14

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12142 entries, 0 to 12141
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   CustomerID               12142 non-null  int64
 1   TransactionID            12142 non-null  object
 2   AccountID                12142 non-null  object
 3   TransactionAmount        12142 non-null  float64
 4   TransactionDate          12142 non-null  object
 5   TransactionType          12142 non-null  object
 6   Location                 12142 non-null  object
 7   DeviceID                 12142 non-null  object
 8   IP Address               12142 non-null  object
 9   MerchantID               12142 non-null  object
 10  Channel                  12142 non-null  object
 11  TransactionDuration      12142 non-null  int64
 12  LoginAttempts            12142 non-null  int64
 13  AccountBalance           12142 non-null  float64
 14  PreviousTransactionDate  12142 non-null  object
dtypes: float64(2), int64(3), object(10)
memory usage: 1.4+ MB

In [5]:
df = df.merge(df2, on='CustomerID')
df

,CustomerID,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
0,708082083.0,Existing Customer,45.0,F,3.0,High School,Married,Less than $40K,Blue,36.0,...,Debit,Denver,D000649,59.12.96.11,M034,Branch,37,1,1649.92,2024-11-04 08:11:55
1,708082083.0,Existing Customer,45.0,F,3.0,High School,Married,Less than $40K,Blue,36.0,...,Debit,Atlanta,D000492,45.241.13.208,M003,Online,178,1,4180.40,2024-11-04 08:10:42
2,708083283.0,Attrited Customer,58.0,M,0.0,Unknown,Single,$40K - $60K,Blue,45.0,...,Debit,Los Angeles,D000152,116.44.12.250,M040,Branch,38,1,5750.89,2024-11-04 08:09:24
3,708083283.0,Attrited Customer,58.0,M,0.0,Unknown,Single,$40K - $60K,Blue,45.0,...,Debit,Dallas,D000285,7.146.35.122,M087,Branch,227,2,4175.02,2024-11-04 08:11:03
4,708083283.0,Attrited Customer,58.0,M,0.0,Unknown,Single,$40K - $60K,Blue,45.0,...,Credit,Charlotte,D000420,59.132.247.252,M026,ATM,94,1,1305.06,2024-11-04 08:09:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,828288333.0,Existing Customer,50.0,M,0.0,Uneducated,Married,$60K - $80K,Blue,46.0,...,Debit,San Diego,D000672,49.172.82.247,M047,Branch,71,1,2531.24,2024-11-04 08:08:10
12138,828291858.0,Attrited Customer,38.0,M,3.0,College,Single,$60K - $80K,Blue,34.0,...,Debit,Houston,D000109,181.223.246.123,M004,ATM,106,1,10501.53,2024-11-04 08:11:29
12139,828294933.0,Attrited Customer,49.0,F,3.0,High School,Married,Less than $40K,Blue,45.0,...,Credit,Virginia Beach,D000134,51.196.87.214,M059,Branch,160,1,7854.10,2024-11-04 08:09:29
12140,828298908.0,Existing Customer,54.0,M,4.0,Graduate,Married,$120K +,Blue,50.0,...,Debit,Fort Worth,D000007,57.232.212.116,M018,Branch,80,1,14409.74,2024-11-04 08:08:08
12141,824168808.0,Existing Customer,31.0,F,1.0,College,Divorced,Unknown,Blue,27.0,...,Debit,Virginia Beach,D000100,19.20.13.234,M026,ATM,138,1,3707.82,2024-11-04 08:08:14

In [6]:
import pandas as pd

lista_tarjetas = [
        "Joy", "Oro", "Clasica", "Platinum", "Descubre", "Explora", 
        "Conquista", "Line Up", "La Comer", "Costo", "Home Depot", 
        "Affinity", "Teleton"
    ]

def asignar_tarjetas(row):
    
    vector_asignacion = {k: 0 for k in lista_tarjetas}
    
    age = row['Customer_Age']
    client_cat = row['Card_Category']
    
    if age < 18:
        return pd.Series(vector_asignacion)

    if client_cat in ['Blue', 'Silver', 'Gold', 'Platinum']:
        for card in ["Joy", "Oro", "Clasica", "Line Up", "La Comer", "Home Depot", "Affinity", "Teleton", "Costo"]:
            vector_asignacion[card] = 1
            
    if client_cat in ['Blue', 'Silver', 'Gold', 'Platinum']:
         vector_asignacion["Descubre"] = 1

    if client_cat in ['Gold', 'Platinum']:
        vector_asignacion["Explora"] = 1
        vector_asignacion["Platinum"] = 1

    if client_cat == 'Platinum':
        vector_asignacion["Conquista"] = 1
        
    return pd.Series(vector_asignacion)
# Aplicar la función a todo el dataset
df[lista_tarjetas] = df.apply(asignar_tarjetas, axis=1)

df[lista_tarjetas]

,Joy,Oro,Clasica,Platinum,Descubre,Explora,Conquista,Line Up,La Comer,Costo,Home Depot,Affinity,Teleton
0,1,1,1,0,1,0,0,1,1,1,1,1,1
1,1,1,1,0,1,0,0,1,1,1,1,1,1
2,1,1,1,0,1,0,0,1,1,1,1,1,1
3,1,1,1,0,1,0,0,1,1,1,1,1,1
4,1,1,1,0,1,0,0,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,1,1,1,0,1,0,0,1,1,1,1,1,1
12138,1,1,1,0,1,0,0,1,1,1,1,1,1
12139,1,1,1,0,1,0,0,1,1,1,1,1,1
12140,1,1,1,0,1,0,0,1,1,1,1,1,1
12141,1,1,1,0,1,0,0,1,1,1,1,1,1

In [7]:
df.to_csv("data/BankChurners_merged.csv", index=False)

In [8]:
df.drop(columns=lista_tarjetas).to_csv("data/BankChurners_merged_for_pipeline.csv", index=False)

In [9]:
# Asegurar que ambas columnas sean tipo datetime
df['TransactionDate'] = pd.to_datetime(df['TransactionDate'])
df['PreviousTransactionDate'] = pd.to_datetime(df['PreviousTransactionDate'])

# Crear la columna con la diferencia
df['TimeSinceLastTransaction'] = df['PreviousTransactionDate'] - df['TransactionDate']

In [10]:
df['DaysSinceLast'] = df['TimeSinceLastTransaction'].dt.total_seconds() / 86400

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12142 entries, 0 to 12141
Data columns (total 63 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   CustomerID                12142 non-null  float64
 1   Attrition_Flag            12142 non-null  object
 2   Customer_Age              12142 non-null  float64
 3   Gender                    12142 non-null  object
 4   Dependent_count           12142 non-null  float64
 5   Education_Level           12142 non-null  object
 6   Marital_Status            12142 non-null  object
 7   Income_Category           12142 non-null  object
 8   Card_Category             12142 non-null  object
 9   Months_on_book            12142 non-null  float64
 10  Total_Relationship_Count  12142 non-null  float64
 11  Months_Inactive_12_mon    12142 non-null  float64
 12  Contacts_Count_12_mon     12142 non-null  float64
 13  Credit_Limit              12142 non-null  float64
 14  Total_Revolving_Bal       12142 non-null  float64
 15  Avg_Open_To_Buy           12142 non-null  float64
 16  Total_Amt_Chng_Q4_Q1      12142 non-null  float64
 17  Total_Trans_Amt           12142 non-null  float64
 18  Total_Trans_Ct            12142 non-null  float64
 19  Total_Ct_Chng_Q4_Q1       12142 non-null  float64
 20  Avg_Utilization_Ratio     12142 non-null  float64
 21  Month                     12139 non-null  float64
 22  Quarter                   12139 non-null  float64
 23  NPS                       12139 non-null  float64
 24  Survey date               12139 non-null  object
 25  Twitter                   12142 non-null  object
 26  Id Interaction            12142 non-null  float64
 27  Interaction               12142 non-null  object
 28  Id Complain               12142 non-null  float64
 29  date_received             12142 non-null  object
 30  product                   12142 non-null  object
 31  sub_product               9085 non-null   object
 32  issue                     12142 non-null  object
 33  sub_issue                 4547 non-null   object
 34  TransactionID             12142 non-null  object
 35  AccountID                 12142 non-null  object
 36  TransactionAmount         12142 non-null  float64
 37  TransactionDate           12142 non-null  datetime64[ns]
 38  TransactionType           12142 non-null  object
 39  Location                  12142 non-null  object
 40  DeviceID                  12142 non-null  object
 41  IP Address                12142 non-null  object
 42  MerchantID                12142 non-null  object
 43  Channel                   12142 non-null  object
 44  TransactionDuration       12142 non-null  int64
 45  LoginAttempts             12142 non-null  int64
 46  AccountBalance            12142 non-null  float64
 47  PreviousTransactionDate   12142 non-null  datetime64[ns]
 48  Joy                       12142 non-null  int64
 49  Oro                       12142 non-null  int64
 50  Clasica                   12142 non-null  int64
 51  Platinum                  12142 non-null  int64
 52  Descubre                  12142 non-null  int64
 53  Explora                   12142 non-null  int64
 54  Conquista                 12142 non-null  int64
 55  Line Up                   12142 non-null  int64
 56  La Comer                  12142 non-null  int64
 57  Costo                     12142 non-null  int64
 58  Home Depot                12142 non-null  int64
 59  Affinity                  12142 non-null  int64
 60  Teleton                   12142 non-null  int64
 61  TimeSinceLastTransaction  12142 non-null  timedelta64[ns]
 62  DaysSinceLast             12142 non-null  float64
dtypes: datetime64[ns](2), float64(23), int64(15), object(22), timedelta64[ns](1)
memory usage: 5.8+ MB

In [12]:
df.drop(columns=['CustomerID', 'Id Complain', 'Id Interaction', 'date_received', 'Survey date', 'Twitter', 'NPS', 'product', 'sub_product', 'issue', 'sub_issue', 'Gender', 'TransactionID', 'AccountID', 'DeviceID', 'IP Address', 'MerchantID', "TransactionDate", "PreviousTransactionDate", 'TimeSinceLastTransaction', 'TransactionDuration', 'LoginAttempts'], inplace=True)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12142 entries, 0 to 12141
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            12142 non-null  object
 1   Customer_Age              12142 non-null  float64
 2   Dependent_count           12142 non-null  float64
 3   Education_Level           12142 non-null  object
 4   Marital_Status            12142 non-null  object
 5   Income_Category           12142 non-null  object
 6   Card_Category             12142 non-null  object
 7   Months_on_book            12142 non-null  float64
 8   Total_Relationship_Count  12142 non-null  float64
 9   Months_Inactive_12_mon    12142 non-null  float64
 10  Contacts_Count_12_mon     12142 non-null  float64
 11  Credit_Limit              12142 non-null  float64
 12  Total_Revolving_Bal       12142 non-null  float64
 13  Avg_Open_To_Buy           12142 non-null  float64
 14  Total_Amt_Chng_Q4_Q1      12142 non-null  float64
 15  Total_Trans_Amt           12142 non-null  float64
 16  Total_Trans_Ct            12142 non-null  float64
 17  Total_Ct_Chng_Q4_Q1       12142 non-null  float64
 18  Avg_Utilization_Ratio     12142 non-null  float64
 19  Month                     12139 non-null  float64
 20  Quarter                   12139 non-null  float64
 21  Interaction               12142 non-null  object
 22  TransactionAmount         12142 non-null  float64
 23  TransactionType           12142 non-null  object
 24  Location                  12142 non-null  object
 25  Channel                   12142 non-null  object
 26  AccountBalance            12142 non-null  float64
 27  Joy                       12142 non-null  int64
 28  Oro                       12142 non-null  int64
 29  Clasica                   12142 non-null  int64
 30  Platinum                  12142 non-null  int64
 31  Descubre                  12142 non-null  int64
 32  Explora                   12142 non-null  int64
 33  Conquista                 12142 non-null  int64
 34  Line Up                   12142 non-null  int64
 35  La Comer                  12142 non-null  int64
 36  Costo                     12142 non-null  int64
 37  Home Depot                12142 non-null  int64
 38  Affinity                  12142 non-null  int64
 39  Teleton                   12142 non-null  int64
 40  DaysSinceLast             12142 non-null  float64
dtypes: float64(19), int64(13), object(9)
memory usage: 3.8+ MB

In [14]:
df.dropna(inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12139 entries, 0 to 12141
Data columns (total 41 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition_Flag            12139 non-null  object
 1   Customer_Age              12139 non-null  float64
 2   Dependent_count           12139 non-null  float64
 3   Education_Level           12139 non-null  object
 4   Marital_Status            12139 non-null  object
 5   Income_Category           12139 non-null  object
 6   Card_Category             12139 non-null  object
 7   Months_on_book            12139 non-null  float64
 8   Total_Relationship_Count  12139 non-null  float64
 9   Months_Inactive_12_mon    12139 non-null  float64
 10  Contacts_Count_12_mon     12139 non-null  float64
 11  Credit_Limit              12139 non-null  float64
 12  Total_Revolving_Bal       12139 non-null  float64
 13  Avg_Open_To_Buy           12139 non-null  float64
 14  Total_Amt_Chng_Q4_Q1      12139 non-null  float64
 15  Total_Trans_Amt           12139 non-null  float64
 16  Total_Trans_Ct            12139 non-null  float64
 17  Total_Ct_Chng_Q4_Q1       12139 non-null  float64
 18  Avg_Utilization_Ratio     12139 non-null  float64
 19  Month                     12139 non-null  float64
 20  Quarter                   12139 non-null  float64
 21  Interaction               12139 non-null  object
 22  TransactionAmount         12139 non-null  float64
 23  TransactionType           12139 non-null  object
 24  Location                  12139 non-null  object
 25  Channel                   12139 non-null  object
 26  AccountBalance            12139 non-null  float64
 27  Joy                       12139 non-null  int64
 28  Oro                       12139 non-null  int64
 29  Clasica                   12139 non-null  int64
 30  Platinum                  12139 non-null  int64
 31  Descubre                  12139 non-null  int64
 32  Explora                   12139 non-null  int64
 33  Conquista                 12139 non-null  int64
 34  Line Up                   12139 non-null  int64
 35  La Comer                  12139 non-null  int64
 36  Costo                     12139 non-null  int64
 37  Home Depot                12139 non-null  int64
 38  Affinity                  12139 non-null  int64
 39  Teleton                   12139 non-null  int64
 40  DaysSinceLast             12139 non-null  float64
dtypes: float64(19), int64(13), object(9)
memory usage: 3.9+ MB

In [16]:
df['Interaction'].unique()

array(['Digital statement', 'Key lock', 'Delivery Cards',
       'Theft and loss', 'products and services acquisition ',
       'unrecognized charge'], dtype=object)

In [17]:
df['Location'].unique()

array(['Denver', 'Atlanta', 'Los Angeles', 'Dallas', 'Charlotte',
       'El Paso', 'Milwaukee', 'Las Vegas', 'San Diego', 'Columbus',
       'Fort Worth', 'Miami', 'San Antonio', 'Baltimore', 'Louisville',
       'Phoenix', 'Portland', 'Mesa', 'Fresno', 'Nashville',
       'Jacksonville', 'Washington', 'Philadelphia', 'Raleigh', 'Omaha',
       'Kansas City', 'Indianapolis', 'Sacramento', 'Detroit',
       'Colorado Springs', 'Seattle', 'San Francisco', 'Virginia Beach',
       'Memphis', 'Austin', 'Chicago', 'Oklahoma City', 'Albuquerque',
       'Tucson', 'Boston', 'San Jose', 'New York', 'Houston'],
      dtype=object)

In [18]:
# convert all object-type columns to dummy/one-hot encoded columns
obj_cols = df.select_dtypes(include=['object']).columns.tolist()
print("Convirtiendo columnas object a dummies:", obj_cols)

df = pd.get_dummies(df, columns=obj_cols, prefix_sep='_', drop_first=False)

# comprobar resultado
df.info()

Convirtiendo columnas object a dummies: ['Attrition_Flag', 'Education_Level', 'Marital_Status', 'Income_Category', 'Card_Category', 'Interaction', 'TransactionType', 'Location', 'Channel']
<class 'pandas.core.frame.DataFrame'>
Index: 12139 entries, 0 to 12141
Columns: 109 entries, Customer_Age to Channel_Online
dtypes: bool(77), float64(19), int64(13)
memory usage: 3.9 MB

In [19]:
df[df.select_dtypes(include='float64').columns]

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Month,Quarter,TransactionAmount,AccountBalance,DaysSinceLast
0,45.0,3.0,36.0,4.0,3.0,3.0,3544.0,1661.0,1883.0,0.831,15149.0,111.0,0.734,0.469,10.0,4.0,47.79,1649.92,415.633044
1,45.0,3.0,36.0,4.0,3.0,3.0,3544.0,1661.0,1883.0,0.831,15149.0,111.0,0.734,0.469,10.0,4.0,212.97,4180.40,355.634815
2,58.0,0.0,45.0,3.0,1.0,3.0,3421.0,2517.0,904.0,0.992,992.0,21.0,0.400,0.736,8.0,3.0,59.32,5750.89,614.647523
3,58.0,0.0,45.0,3.0,1.0,3.0,3421.0,2517.0,904.0,0.992,992.0,21.0,0.400,0.736,8.0,3.0,263.99,4175.02,537.669132
4,58.0,0.0,45.0,3.0,1.0,3.0,3421.0,2517.0,904.0,0.992,992.0,21.0,0.400,0.736,8.0,3.0,516.47,1305.06,318.631262
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,50.0,0.0,46.0,4.0,1.0,3.0,3640.0,659.0,2981.0,0.938,3756.0,70.0,0.842,0.181,7.0,3.0,256.95,2531.24,549.646400
12138,38.0,3.0,34.0,6.0,3.0,4.0,12050.0,1821.0,10229.0,0.630,2381.0,40.0,0.481,0.151,6.0,2.0,406.12,10501.53,458.610301
12139,49.0,3.0,45.0,3.0,2.0,3.0,2951.0,2437.0,514.0,0.765,2519.0,36.0,0.565,0.826,9.0,3.0,156.26,7854.10,671.597049
12140,54.0,4.0,50.0,4.0,2.0,0.0,2872.0,2035.0,837.0,0.613,1770.0,47.0,0.741,0.709,6.0,2.0,317.12,14409.74,328.669653
12141,31.0,1.0,27.0,4.0,6.0,3.0,3647.0,1480.0,2167.0,0.760,2271.0,60.0,0.364,0.406,5.0,2.0,88.38,3707.82,656.665058

In [20]:
df

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Location_San Diego,Location_San Francisco,Location_San Jose,Location_Seattle,Location_Tucson,Location_Virginia Beach,Location_Washington,Channel_ATM,Channel_Branch,Channel_Online
0,45.0,3.0,36.0,4.0,3.0,3.0,3544.0,1661.0,1883.0,0.831,...,False,False,False,False,False,False,False,False,True,False
1,45.0,3.0,36.0,4.0,3.0,3.0,3544.0,1661.0,1883.0,0.831,...,False,False,False,False,False,False,False,False,False,True
2,58.0,0.0,45.0,3.0,1.0,3.0,3421.0,2517.0,904.0,0.992,...,False,False,False,False,False,False,False,False,True,False
3,58.0,0.0,45.0,3.0,1.0,3.0,3421.0,2517.0,904.0,0.992,...,False,False,False,False,False,False,False,False,True,False
4,58.0,0.0,45.0,3.0,1.0,3.0,3421.0,2517.0,904.0,0.992,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,50.0,0.0,46.0,4.0,1.0,3.0,3640.0,659.0,2981.0,0.938,...,True,False,False,False,False,False,False,False,True,False
12138,38.0,3.0,34.0,6.0,3.0,4.0,12050.0,1821.0,10229.0,0.630,...,False,False,False,False,False,False,False,True,False,False
12139,49.0,3.0,45.0,3.0,2.0,3.0,2951.0,2437.0,514.0,0.765,...,False,False,False,False,False,True,False,False,True,False
12140,54.0,4.0,50.0,4.0,2.0,0.0,2872.0,2035.0,837.0,0.613,...,False,False,False,False,False,False,False,False,True,False
12141,31.0,1.0,27.0,4.0,6.0,3.0,3647.0,1480.0,2167.0,0.760,...,False,False,False,False,False,True,False,True,False,False

In [21]:
df.to_csv("data/robo_advisory_cleaned_data.csv", index=False)

In [22]:
from sklearn.preprocessing import MinMaxScaler

num_cols = df.select_dtypes(include=['float64', 'int64']).columns.tolist()

scaler = MinMaxScaler()
df_norm = df.copy()
df_norm[num_cols] = scaler.fit_transform(df[num_cols])

df_norm.head()

,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,...,Location_San Diego,Location_San Francisco,Location_San Jose,Location_Seattle,Location_Tucson,Location_Virginia Beach,Location_Washington,Channel_ATM,Channel_Branch,Channel_Online
0,0.404255,0.6,0.534884,0.6,0.500000,0.5,0.063659,0.659913,0.054472,0.244628,...,False,False,False,False,False,False,False,False,True,False
1,0.404255,0.6,0.534884,0.6,0.500000,0.5,0.063659,0.659913,0.054472,0.244628,...,False,False,False,False,False,False,False,False,False,True
2,0.680851,0.0,0.744186,0.4,0.166667,0.5,0.059941,1.000000,0.026106,0.292022,...,False,False,False,False,False,False,False,False,True,False
3,0.680851,0.0,0.744186,0.4,0.166667,0.5,0.059941,1.000000,0.026106,0.292022,...,False,False,False,False,False,False,False,False,True,False
4,0.680851,0.0,0.744186,0.4,0.166667,0.5,0.059941,1.000000,0.026106,0.292022,...,False,False,False,False,False,False,False,True,False,False

In [23]:
df_norm.info()

<class 'pandas.core.frame.DataFrame'>
Index: 12139 entries, 0 to 12141
Columns: 109 entries, Customer_Age to Channel_Online
dtypes: bool(77), float64(32)
memory usage: 3.9 MB

In [24]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import torch
import torch.nn as nn
import torch.optim as optim
targets = lista_tarjetas 
X = df.drop(columns=targets, errors='ignore') 

X = pd.get_dummies(X, drop_first=True) 

y = df[targets].values 

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(
    X_scaled, y, test_size=0.2, random_state=42
)

print(f"Forma de X_train: {X_train.shape}")
print(f"Forma de y_train: {y_train.shape}")

X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train, dtype=torch.float32)
X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
y_test_tensor = torch.tensor(y_test, dtype=torch.float32)

class NeuralNetwork(nn.Module):
    def __init__(self, input_size, output_size):
        super(NeuralNetwork, self).__init__()
        self.layer1 = nn.Linear(input_size, 8)
        self.dropout = nn.Dropout(0.3)
        self.layer2 = nn.Linear(8, output_size)

    def forward(self, x):
        x = torch.relu(self.layer1(x))
        x = self.dropout(x)
        x = torch.sigmoid(self.layer2(x))
        return x

input_size = X_train.shape[1]
output_size = len(targets)
model = NeuralNetwork(input_size, output_size)

criterion = nn.BCELoss()
optimizer = optim.Adam(model.parameters(), lr=0.001)

n_epochs = 50
batch_size = 32

for epoch in range(n_epochs):
    permutation = torch.randperm(X_train_tensor.size()[0])

    for i in range(0, X_train_tensor.size()[0], batch_size):
        indices = permutation[i:i+batch_size]
        batch_X, batch_y = X_train_tensor[indices], y_train_tensor[indices]

        optimizer.zero_grad()
        outputs = model(batch_X)
        loss = criterion(outputs, batch_y)
        loss.backward()
        optimizer.step()

    with torch.no_grad():
        model.eval()
        test_outputs = model(X_test_tensor)
        test_loss = criterion(test_outputs, y_test_tensor)
        test_accuracy = ((test_outputs > 0.5) == y_test_tensor).float().mean()
        model.train()

    print(f"Epoch {epoch+1}/{n_epochs}, Loss: {loss.item()}, Test Loss: {test_loss.item()}, Test Accuracy: {test_accuracy.item()}")

Forma de X_train: (9711, 96)
Forma de y_train: (9711, 13)
Epoch 1/50, Loss: 0.19031229615211487, Test Loss: 0.1424998790025711, Test Accuracy: 0.9976555705070496
Epoch 2/50, Loss: 0.0644201934337616, Test Loss: 0.02831302396953106, Test Accuracy: 0.9980040788650513
Epoch 3/50, Loss: 0.011769745498895645, Test Loss: 0.011613829992711544, Test Accuracy: 0.9980040788650513
Epoch 4/50, Loss: 0.007418890483677387, Test Loss: 0.00720634451135993, Test Accuracy: 0.9980040788650513
Epoch 5/50, Loss: 0.012720441445708275, Test Loss: 0.00541805662214756, Test Accuracy: 0.9980040788650513
Epoch 6/50, Loss: 0.008251690305769444, Test Loss: 0.004445903934538364, Test Accuracy: 0.9980040788650513
Epoch 7/50, Loss: 0.04967886582016945, Test Loss: 0.003578116185963154, Test Accuracy: 0.9980040788650513
Epoch 8/50, Loss: 0.010343099012970924, Test Loss: 0.00260259211063385, Test Accuracy: 0.9983208775520325
Epoch 9/50, Loss: 0.006817951798439026, Test Loss: 0.0020303723867982626, Test Accuracy: 0.9992713332176208
Epoch 10/50, Loss: 0.03667439892888069, Test Loss: 0.00155292684212327, Test Accuracy: 0.999588131904602
Epoch 11/50, Loss: 0.00039231590926647186, Test Loss: 0.0013521098298951983, Test Accuracy: 0.9998099207878113
Epoch 12/50, Loss: 0.0007208608440123498, Test Loss: 0.0011017856886610389, Test Accuracy: 0.999841570854187
Epoch 13/50, Loss: 0.00029970030300319195, Test Loss: 0.0009577394812367857, Test Accuracy: 0.999841570854187
Epoch 14/50, Loss: 0.001155483303591609, Test Loss: 0.000908693007659167, Test Accuracy: 0.999841570854187
Epoch 15/50, Loss: 0.0013855857541784644, Test Loss: 0.0007587596774101257, Test Accuracy: 0.999841570854187
Epoch 16/50, Loss: 0.00021566354553215206, Test Loss: 0.0007405680953525007, Test Accuracy: 0.9998732805252075
Epoch 17/50, Loss: 5.033019988331944e-05, Test Loss: 0.0006117026205174625, Test Accuracy: 0.9999049305915833
Epoch 18/50, Loss: 0.00015022672596387565, Test Loss: 0.0005859997472725809, Test Accuracy: 0.9999049305915833
Epoch 19/50, Loss: 2.6355255613452755e-05, Test Loss: 0.0005370262661017478, Test Accuracy: 0.9999049305915833
Epoch 20/50, Loss: 0.00169464317150414, Test Loss: 0.00046861733426339924, Test Accuracy: 0.9999049305915833
Epoch 21/50, Loss: 7.653359352843836e-05, Test Loss: 0.0004323892935644835, Test Accuracy: 0.9999049305915833
Epoch 22/50, Loss: 0.0006017982377670705, Test Loss: 0.00041299962322227657, Test Accuracy: 0.9999049305915833
Epoch 23/50, Loss: 0.0003079951857216656, Test Loss: 0.00042942856089212, Test Accuracy: 0.9999049305915833
Epoch 24/50, Loss: 0.021901646628975868, Test Loss: 0.0003987540549132973, Test Accuracy: 0.9999049305915833
Epoch 25/50, Loss: 6.108764500822872e-05, Test Loss: 0.00038486553239636123, Test Accuracy: 0.9999049305915833
Epoch 26/50, Loss: 0.012217317707836628, Test Loss: 0.00038418392068706453, Test Accuracy: 0.9999049305915833
Epoch 27/50, Loss: 0.01692061871290207, Test Loss: 0.00037481074105016887, Test Accuracy: 0.9999049305915833
Epoch 28/50, Loss: 7.241787329803628e-07, Test Loss: 0.0003921523748431355, Test Accuracy: 0.9999049305915833
Epoch 29/50, Loss: 0.00012473238166421652, Test Loss: 0.00039230709080584347, Test Accuracy: 0.9999049305915833
Epoch 30/50, Loss: 4.296172733120329e-07, Test Loss: 0.0003640978829935193, Test Accuracy: 0.9999049305915833
Epoch 31/50, Loss: 9.860053040711136e-08, Test Loss: 0.0003339004178997129, Test Accuracy: 0.9999049305915833
Epoch 32/50, Loss: 8.379896462429315e-05, Test Loss: 0.00033019360853359103, Test Accuracy: 0.9999049305915833
Epoch 33/50, Loss: 2.7200340468880313e-07, Test Loss: 0.0003302945988252759, Test Accuracy: 0.9999049305915833
Epoch 34/50, Loss: 3.4256689104950055e-05, Test Loss: 0.0003383133152965456, Test Accuracy: 0.9999049305915833
Epoch 35/50, Loss: 4.0347475760427187e-07, Test Loss: 0.00031629682052880526, Test Accuracy: 0.9999049305915833
Epoch 36/50, Loss: 7.86997134127887e-08, Test Loss: 0.000289073126623407, Test Accuracy: 0.9999049305915833
Epoch 37/50, Loss: 9.86565407146145e-09, Test Loss: 0.00029007461853325367, Test Accuracy: 0.9999049305915833
Epoch 38/50, Loss: 3.960894545684823e-08, Test Loss: 0.00027807577862404287, Test Accuracy: 0.9999049305915833
Epoch 39/50, Loss: 1.7702787147300114e-07, Test Loss: 0.00028347960324026644, Test Accuracy: 0.9999049305915833
Epoch 40/50, Loss: 2.6021129428954737e-07, Test Loss: 0.00028584199026227, Test Accuracy: 0.9999049305915833
Epoch 41/50, Loss: 1.1362586519680917e-05, Test Loss: 0.0002788794517982751, Test Accuracy: 0.9999049305915833
Epoch 42/50, Loss: 1.6873354979907162e-05, Test Loss: 0.0002559309941716492, Test Accuracy: 0.9999049305915833
Epoch 43/50, Loss: 3.856490948805913e-08, Test Loss: 0.00025889615062624216, Test Accuracy: 0.9999049305915833
Epoch 44/50, Loss: 4.382176754802458e-08, Test Loss: 0.0002501270791981369, Test Accuracy: 0.9999049305915833
Epoch 45/50, Loss: 1.0169999313802691e-06, Test Loss: 0.0002510217600502074, Test Accuracy: 0.9999049305915833
Epoch 46/50, Loss: 0.010125289671123028, Test Loss: 0.00023564885486848652, Test Accuracy: 0.9999049305915833
Epoch 47/50, Loss: 0.0037865680642426014, Test Loss: 0.00024151515390258282, Test Accuracy: 0.9999049305915833
Epoch 48/50, Loss: 2.0969280001281732e-07, Test Loss: 0.00023841287475079298, Test Accuracy: 0.9999049305915833
Epoch 49/50, Loss: 2.7559615034533635e-08, Test Loss: 0.00023028124996926636, Test Accuracy: 0.9999049305915833
Epoch 50/50, Loss: 6.264603058525609e-08, Test Loss: 0.00022396737767849118, Test Accuracy: 0.9999049305915833

In [25]:

print(input_size)

96

In [26]:
import gc

gc.collect()

695

In [27]:

import torch
from sklearn.metrics import classification_report, confusion_matrix
import numpy as np

model.eval()
with torch.no_grad():
    X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
    y_test_tensor = torch.tensor(y_test, dtype=torch.float32)
    outputs = model(X_test_tensor)
    loss_fn = torch.nn.BCELoss()
    loss = loss_fn(outputs, y_test_tensor).item()
    predictions = (outputs > 0.5).int()
    correct_preds = (predictions == y_test_tensor.int()).sum().item()
    total_samples = y_test_tensor.numel()
    acc = correct_preds / total_samples
print(f"Accuracy: {acc:.3f}")

for i, t in enumerate(targets):
    print(f"\n--- Target {i+1}/{len(targets)}: {t} ---")
    y_true_i = y_test_tensor[:, i].numpy()
    y_pred_i = predictions[:, i].numpy()
    cm = confusion_matrix(y_true_i, y_pred_i)
    print("Confusion matrix:\n", cm)
    unique_labels = np.unique(y_true_i)
    name_map = {0: 'No', 1: 'Sí'}
    labels = unique_labels.tolist()
    target_names = [name_map.get(l, str(l)) for l in labels]
    report = classification_report(y_true_i, y_pred_i, labels=labels, target_names=target_names, zero_division=0)
    print(report)

Accuracy: 1.000

--- Target 1/13: Joy ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 2/13: Oro ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 3/13: Clasica ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 4/13: Platinum ---
Confusion matrix:
 [[2398    0]
 [   0   30]]
              precision    recall  f1-score   support

          No       1.00      1.00      1.00      2398
          Sí       1.00      1.00      1.00        30

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 5/13: Descubre ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 6/13: Explora ---
Confusion matrix:
 [[2398    0]
 [   0   30]]
              precision    recall  f1-score   support

          No       1.00      1.00      1.00      2398
          Sí       1.00      1.00      1.00        30

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 7/13: Conquista ---
Confusion matrix:
 [[2425    0]
 [   3    0]]
              precision    recall  f1-score   support

          No       1.00      1.00      1.00      2425
          Sí       0.00      0.00      0.00         3

    accuracy                           1.00      2428
   macro avg       0.50      0.50      0.50      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 8/13: Line Up ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 9/13: La Comer ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 10/13: Costo ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 11/13: Home Depot ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 12/13: Affinity ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428


--- Target 13/13: Teleton ---
Confusion matrix:
 [[2428]]
              precision    recall  f1-score   support

          Sí       1.00      1.00      1.00      2428

    accuracy                           1.00      2428
   macro avg       1.00      1.00      1.00      2428
weighted avg       1.00      1.00      1.00      2428

/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(
/home/ariel/Escritorio/proyectos/RoboAdvisoryGenAI/.venv/lib/python3.12/site-packages/sklearn/metrics/_classification.py:534: UserWarning: A single label was found in 'y_true' and 'y_pred'. For the confusion matrix to have the correct shape, use the 'labels' parameter to pass all known labels.
  warnings.warn(

In [29]:
torch.save(model.state_dict(), 'models/1/recommend.pth')