In [6]:
import pandas as pd

df = pd.read_excel('data/BankChurners - Completa v1.xlsx', sheet_name='Transacciones vs ID cuestomer')
df

,CustomerID,TransactionID,AccountID,TransactionAmount,TransactionDate,TransactionType,Location,DeviceID,IP Address,MerchantID,Channel,TransactionDuration,LoginAttempts,AccountBalance,PreviousTransactionDate
0,708082083,TX001313,AC00001,47.79,2023-09-15 17:00:20,Debit,Denver,D000649,59.12.96.11,M034,Branch,37,1,1649.92,2024-11-04 08:11:55
1,708082083,TX002017,AC00001,212.97,2023-11-14 16:56:34,Debit,Atlanta,D000492,45.241.13.208,M003,Online,178,1,4180.40,2024-11-04 08:10:42
2,708083283,TX000021,AC00002,59.32,2023-02-28 16:36:58,Debit,Los Angeles,D000152,116.44.12.250,M040,Branch,38,1,5750.89,2024-11-04 08:09:24
3,708083283,TX000062,AC00002,263.99,2023-05-16 16:07:30,Debit,Dallas,D000285,7.146.35.122,M087,Branch,227,2,4175.02,2024-11-04 08:11:03
4,708083283,TX001029,AC00002,516.47,2023-12-21 17:00:50,Credit,Charlotte,D000420,59.132.247.252,M026,ATM,94,1,1305.06,2024-11-04 08:09:51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12137,828288333,TX012001,AC10126,256.95,2023-05-04 16:37:21,Debit,San Diego,D000672,49.172.82.247,M047,Branch,71,1,2531.24,2024-11-04 08:08:10
12138,828291858,TX012002,AC10127,406.12,2023-08-03 17:32:39,Debit,Houston,D000109,181.223.246.123,M004,ATM,106,1,10501.53,2024-11-04 08:11:29
12139,828294933,TX012003,AC10128,156.26,2023-01-02 17:49:44,Credit,Virginia Beach,D000134,51.196.87.214,M059,Branch,160,1,7854.10,2024-11-04 08:09:29
12140,828298908,TX012004,AC10129,317.12,2023-12-11 16:03:50,Debit,Fort Worth,D000007,57.232.212.116,M018,Branch,80,1,14409.74,2024-11-04 08:08:08
12141,824168808,TX012005,AC10130,88.38,2023-01-17 16:10:33,Debit,Virginia Beach,D000100,19.20.13.234,M026,ATM,138,1,3707.82,2024-11-04 08:08:14

In [7]:
df.to_csv("data/Transacciones_vs_ID_cuestomer.csv", index=False)